{% extends 'base.html.twig' %}

{% block title %}
	{{annonce.title}}
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-md-8">
			{# Début carousel #}
		<div id="carouselExampleIndicators" style="max-width: 700px;" class="carousel slide" data-ride="carousel">
			{# fleches #}
			<ol class="carousel-indicators">
				{% for image in annonce.images %}
					{% if loop.first %}
						{% set active = 'active' %}
					{% else %}
						{% set active = " " %}
					{% endif %}
					<li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="{{ active }}"></li>
				{% endfor %}
			</ol>
			{# Images pour le carousel #}
			<div class="carousel-inner">
				{% for image in annonce.images %}
					{% if loop.first %}
						{% set active = 'active' %}
					{% else %}
						{% set active = " " %}
					{% endif %}
					<div class="carousel-item {{ active }}">
					<img  src="{{ asset('uploads/images/annonces/' ~ image.name)|imagine_filter('banniere') }}" class="d-block w-100" alt="{{ annonce.title }}">
					</div>
					{% else %}
					<img src="{{ asset('uploads/images/no-photo.png')|imagine_filter('banniere') }}" class="card-img" alt="{{ annonce.title }}">
				{% endfor %}
			</div>
			{# Chevron #}
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		{# Fin carousel #}			</div>
			<div class="col-md-4">
				<div class="card text-center">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img src="{{ asset('img/user.png') }}" style="max-width: 100px;" class="card-img" alt="{{ annonce.title }}">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">
									{{annonce.users.firstname}}
								</h5>
							</div>
						</div>
						<div class="card-body">
							<div class="container" style="margin-top: 50px;">
								<p>{{ annonce.users.username}}</p>
								<p>{{ annonce.users.phone}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3 mt-4 align-center" style="max-width: 1200px;">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="{{ asset('img/logo.webp') }}" style="max-width: 150px;" class="card-img" alt="{{ annonce.title }}">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">
							{{ annonce.title }}
						</h5>
						<p class="card-text">
							<strong>{{ annonce.price }}</strong> €
						</p>
						<p class="card-text">{{ annonce.content|raw }}</p>
						<p class="card-text">
							<small class="text-muted">Publié le
								{{annonce.createdAt | date ('d/m/Y à H:i')}}
							</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
{% block javascripts %}{% endblock %}
