{% extends 'base.html.twig' %}

{% block title %}Petites Annonces{% endblock %}

{% block body %}
<div class="container py-4">
    {% for message in app.flashes('success') %}
        <div class="mt-4 alert alert-success alert-dismissible fade show" role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> 
        </div>
    {% endfor %}
    	<div class="container">
        <div class="row">
			{% for annonce in annonces %}
            <div class="col-6">
				<div class="card mb-3 mt-4 align-center" style="max-width: 700px;">
					<div class="row no-gutters">
						<div class="col-md-4 ">
						{% for image in annonce.images %}
								{% if loop.first %}
									<img src="{{ asset('uploads/images/annonces/' ~ image.name)|imagine_filter('square') }}" class="card-img" alt="{{ annonce.title }}">
								{% endif %}
									{% else %}
									<img src="{{ asset('uploads/images/no-photo.png')|imagine_filter('square') }}" class="card-img" alt="{{ annonce.title }}">
						{% endfor %}
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{ path('annonces_details', {slug: annonce.slug}) }}">{{ annonce.title }}</a>
								</h5>
								<p class="card-text">Catégorie :
									<small>{{ annonce.categories.name }}</small>
								</p>
								<p class="card-text">{{ annonce.price}} €</p>
								<p class="card-text">
									<small class="text-muted">Publié le
										{{annonce.createdAt | date ('d/m/Y à H:i')}}
										par
										<strong>{{annonce.users.firstname}}</strong>
									</small>
								</p>
						</div>
					</div>
				</div>
		    </div>
        </div>
		{% endfor %}
        </div>
	<div class="container">
		<nav aria-label="...">
			<ul class="pagination">
				<li class="{{ (page == 1) ? 'page-item disabled' : '' }}">
					<a class="page-link" href="?page=1">
						<i class="fas fa-step-backward"></i>
					</a>
				</li>    
				<li class="{{ (page == 1) ? 'page-item disabled' : '' }}">
					<a class="page-link" href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}">
						<i class="fas fa-angle-left"></i>
					</a>
				</li>
				{% set pages = (total / limit)|round(0, 'ceil') %}
				{% for item in 1..pages %}
					<li class="{{ (page == item) ? 'page-item active' : '' }}">
						<a class="page-link" href="?page={{ item }}">{{ item }}</a>
					</li>
				{% endfor %}
				<li class="{{ (page == pages) ? 'page-item disabled' : '' }}">
					<a class="page-link" href="{{ (page < pages) ? '?page=' ~ (page + 1) : '' }}">
						<i class="fas fa-angle-right"></i>
					</a>
				</li>
				<li class="{{ (page == pages) ? 'page-item disabled' : '' }}">
					<a class="page-link" href="?page={{ pages }}">
						<i class="fas fa-step-forward"></i>
					</a>
				</li>

			</ul>		
		</nav>
	</div>
</div>
{% endblock %}
