{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block body %}
	<div class="container mt-4 mb-5">
		{% if app.request.attributes.get('_route') == 'users_annonces_edit' %}
			<h1>Modifier une annonce</h1>
		{% else %}
			<h1>Ajouter une annonce</h1>
			<br>
		{% endif %}
		{{ form_start(form) }}
		<p>Titre de l'annonce</p>
		{{ form_widget(form.title) }}
		<br><br>
		<p>Déscription</p>
		{{ form_widget(form.content) }}
		<br><br>
		<p>Images</p>
		{{ form_widget(form.images) }}
		<br><br>
		<p>Catégorie</p>
		{{ form_widget(form.categories) }}
		<br><br>
		<p>Prix</p>
		{{ form_widget(form.price) }}
		<br><br>
				{% if app.request.attributes.get('_route') == 'users_annonces_edit' %}
				<div class="row">
			{% for image in annonce.images %}
				<div class="col-md-2">
					<img
					src="{{ asset('/uploads/images/annonces/'~image.name) }}" alt="" width="150">
					{# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
					<a class="btn btn-primary" href="{{ path('annonces_delete_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">
						Supprimer</a>
				</div>
			{% endfor %}
				</div>

		{% endif %}
		<br>
		<button type="submit" class="btn btn-primary">Valider</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
{% block javascripts %}
<script>
$('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            if(inputFile.files.length===0){
                $(inputFile).parent()
                    .find('.custom-file-label')
                    .html("Sélectionnez une ou plusieurs images");
            }else {
                var placeholder = "";
                $.each(inputFile.files,function (index , value) {
                    placeholder += "<i class='far fa-file-image'></i>"+" "+value.name+" ";
                });
                $(inputFile).parent()
                    .find('.custom-file-label')
                    .html(placeholder);
            }
        });
</script>
{% endblock %}